<app-header></app-header>
<div class="about-container">
    <h1>About MovieReview.com</h1>
    <p>
       MovieReview.com is a platform where movie enthusiasts can find in-depth reviews and ratings for their favorite films. We pride ourselves on offering accurate, objective, and reliable reviews from a diverse team of film critics and experts.
    </p>
    <p>
       Our mission is to help users make informed decisions about which movies to watch by providing a comprehensive and user-friendly platform that showcases the unique perspectives of our reviewers. We are committed to fostering a lively and engaged community of movie lovers and hope that you will find value in the insights and recommendations we provide.
    </p>
   </div>